################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/cpp/Debug
/cpp/qr.vcxproj.user
/cpp/qr.vcxproj.filters
/cpp/qr.vcxproj
/cpp/qr.sln
/cpp/.vs/qr/v16
